streamlit
pandas
openpyxl
altair
google-genai
st-gsheets-connection
gspread
plotly
extra-streamlit-components
fpdf2
matplotlib
python-pptx
streamlit-drawable-canvas

qrcode[pil]

openai
PyMuPDF

supabase
