streamlit==1.35.0
pandas==2.2.2
pyarrow==16.1.0
openpyxl
altair
google-genai
st-gsheets-connection
gspread
plotly
extra-streamlit-components
fpdf2
python-pptx
streamlit-drawable-canvas
qrcode[pil]
openai
PyMuPDF
